html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(16,14,17);
}
* {
    color: white;
    font-family: 'Montserrat';
}
footer {
    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
}
footer p {
    margin-right: 8px;
}