.quizOptionButton {
    margin: 16px;
    max-width: 450px;
    aspect-ratio: 9/16;
    width: 50%;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: clip;
    background-color: black;
}
